.form{
	display: flex;
	flex-direction: column;
}

.form label{
	margin: 0 auto;
	width: 100%;
}
input{
	width: 70%;
	margin: 0 auto;

	position: absolute;
	left: 100px;
}


.desc{
	line-height: 5em;
}


.empty{
	margin-top: 100px;
}