<div class="main">
  <a href="">
    <img src="https://www.technodom.kz/static/frontend/Technodom/pwa/en_US/Magento_Theme/assets/images/global/logo_dom.svg" alt="123">
    Technodom
  </a>

  <div class="search">
    <input>
    <button type="button" class="search-button">Search</button>
  </div>

  <button type="button" class="login-button">Log in</button>

</div>

<div class="empty">

</div>

<div class="categories">
  <button type="button">Categories</button>
  <button type="button">Sales</button>
</div>
