<div class="product-header">
  <h1 *ngIf="cat">{{cat.name}}</h1>
  <p *ngIf="products">Total {{products.length}} products</p>
</div>

<div class="list">
  <div class="product-card" *ngFor="let product of products">
    <a class="link" routerLink='{{product.id}}'>
      <img class="product-image" src="{{product.image}}" alt="">
      <p class="product-name">{{product.name}}</p>
      <p class="product-price">{{product.price}} ₸</p>
    </a>

  </div>
</div>
<button class="but" (click)="goBack()">Back</button>
