<div class="main">
  <ul>
    <h3>Contacts</h3>
    <li><a href="https://github.com/arman1337">Arman</a></li>
    <li><a href="https://github.com/nazrakhmetaikun">Aikun</a></li>
    <li><a href = "https://github.com/Koala610">Vladlen</a></li>
  </ul>


  <ul>
    <h3>Help</h3>
    <li><button onclick='window.alert("No way. We just did not realize it --_(* -*)_--")'>How can we order things?</button></li>
    <li><button onclick='window.alert("All email senders were fired  --_(* -*)_--")'>Why don't get email after subscruption?</button></li>
    <li><button onclick='window.alert("No way. Maybe will be done later --_(* -*)_--")'>Where is shopping cart?</button></li>
    <a routerLink="products">only for owners</a>
  </ul>



  <form class=""  method="post">
    <input type="text" name="" value="" placeholder="Enter your email">
    <button type="button" name="button">Subscribe</button>
  </form>
</div>

