<div class="main">
  <a href="">
    <img src="https://www.technodom.kz/static/frontend/Technodom/pwa/en_US/Magento_Theme/assets/images/global/logo_dom.svg" alt="123">
    Technodom
  </a>

  <div class="search">
    <input [(ngModel)] = "search_request">
    <button type="button" class="search-button" (click)="search()">Search</button>
  </div>

  <button type="button" *ngIf="isLogged" (click)="logout()" class="main-button">Log out</button>


</div>

<div class="empty">

</div>
<hr>
<div class="categories">
  <a routerLink="categories"><button type="button">Categories</button></a>
  <button routerLink="sales" type="button">Sales</button>
</div>
