<div class="main">
  <h1 *ngIf="products">All products: {{this.products.length}}</h1>
  <fieldset class="fieldset">
    <input [(ngModel)]="newProductName" type="text" class="input" placeholder="Name of the product...">
    <input [(ngModel)]="newProductPrice" type="text" class="input" placeholder="Price of the product...">
    <input [(ngModel)]="newProductDesc" type="text" class="input" placeholder="Description of the product...">
    <button class="addBtn" (click)="addProduct()">Add Product</button>
  </fieldset>
  <div class="list">
    <ul *ngFor="let p of products">
      <li>
        <a routerLink="{{p.id}}/update">
          <p>Code: {{p.id}}|
            Name: {{p.name}}|
            Price: {{p.price}}</p>
        </a>

        <button class="delete" (click)="deleteProduct(p.id)">x</button>
      </li>
    </ul>
  </div>

 <div></div>
</div>

