.limitTextHeight {
    height: 130px;
    overflow: hidden;
}
.but{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    width:1000px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.ad{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.image{
    height:70px;
}
.info-banner{
    padding: 35px 38px 0;
    display: inline-block;
    font-size: 14px;
}

.main{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.read{
    position: relative;
    border: 3px solid #ff681d;
    border-radius:50px;
    width: 300px;
    height: 30px;
    margin-left: 200px;
}
.imgbut{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top:10px;
}